<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="accountConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=account;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="accountConnectionString2" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=account;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="accountConnectionString3" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=account;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="accountConnectionString4" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=account;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="productsConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=products;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="productConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=product;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="productConnectionString2" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=product;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="productsConnectionString2" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=products;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="shopcartConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=shopcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="shopcartConnectionString2" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=shopcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="shopcartConnectionString3" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=shopcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="shopcartConnectionString4" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=shopcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="shopcartConnectionString5" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=shopcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="shopcartConnectionString6" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=shopcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="shopcartsConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=shopcarts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CartsConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Carts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CartsConnectionString2" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Carts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CartsConnectionString3" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Carts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CartsConnectionString4" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Carts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CartsConnectionString5" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Carts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="addcartConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=addcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="addcartConnectionString2" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=addcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="addcartConnectionString3" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=addcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="addcartConnectionString4" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=addcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="addcartConnectionString5" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=addcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="addcartConnectionString6" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=addcart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBCS" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=NewArr;Integrated Security=True" />
    <add name="DBS" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=addcart;Integrated Security=True" />
    <add name="NewarrConnectionString" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Newarr;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NewarrConnectionString2" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Newarr;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NewarrConnectionString3" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Newarr;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NewarrConnectionString4" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=Newarr;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBSE" connectionString="Data Source=DESKTOP-4LU2SLJ\SQLEXPRESS;Initial Catalog=orders;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      </compilation>
    </system.web>
</configuration>
